<ul class="sosmed-card justify-between items-center bg-gradient-to-r from-purple-900 to-black">
    <li><a href="https://instagram.com/citananta_indra" target="_blank"><img src="instagram-7.png" alt="citananta instagram" class="w-8 h-8"></a></li>
    <li><a href="https://www.linkedin.com/in/citanantaindra/" target="_blank"><img src="linkedin-11.png" alt="citananta linkedin" class="w-8 h-8"></a></li>
	<li><a href="https://github.com/inipunyacita" target="_blank"><img src="github-2.png" alt="citananta github" class="w-8 h-8"></a></li>
</ul>
<style>
    .sosmed-card {
		list-style: none;
		display: flex;
		padding: 7px 30px 7px 30px;
		width: 30%;
		border-radius: 10px;
        border: 1px solid rgba(var(--accent-light), 50%);
	}
</style>